<style>
head {
	background-color: #000000;
	background-image: url(images/black-windows_542931.jpg);
}

body {
    background-color: #000000;
    background-image: url(images/black-windows_542931.jpg);
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li{
	color: #ffffff;
}

.whatisaretrogame{
	background-image:url(images/whatisaretrogame.jpg);
    display:block;
    height:120px;
    width:850px;
    margin:auto;
    border-color: #FFFFFF;
    border: 2px solid;
    border-radius: 25px;
}

.jumbotron{
	margin:auto;
	width: 1000px;
	height: 200px; 
	background-image: url(images/snescontroller.jpg);
	background-repeat: no-repeat;
	background-size: 100%;
}

.about-text{
	font-size: 16px;
	display:block;
	text-align: center;
	border: 2px solid;
    border-radius: 25px;
    border-color: #707070;
}

.signupform,.loginform{
	font-size: 16px;
	display:block;
	text-align: center;
}

.nav ul{
	margin:0;
}

.abouttitle,.signuptitle,.logintitle,.gamelisttitle{
	text-align: center;
	background-image: url(images/Mario_Clouds_Desktop_by_sadistmoi.jpg);
	border: 2px solid;
    border-radius: 25px;
    border-color: #707070;
}

#retrogamerlogo {
    background-image:url(images/RETROGAMERTITLE.jpg);
    background-color: #000000;
    display:block;
    height:96px;
    width:740px;
    margin:auto;
}

.footer{
	color: gray;
	text-align: left;
	margin:0;
}

.socialNetwork{
	display:inline;
	margin-top:50px;
}

.twitter:hover,.facebook:hover,.youtube:hover,#retrogamerlogo:hover,.whatisaretrogame:hover{
	opacity: 0.7;
}

.formtitle{
	display:block;
	text-align:center;
	color: white;
}

form.Form{
	color: white;
	margin-left: auto;
	margin-right: auto;
	width: 400px;
}

img.logo{
	display:block;
	margin-left:auto;
	margin-right: auto;
}

.accountDetails{
	list-style-type: none;
	font-size: 20px;
	margin: 0;
	padding: 0;
}

.log{
	font-size: 14px;
}

p{
	color: #ffffff;
	font-family: Verdana,Sans-Serif;
	display:inline;
}

h1{
	color: #000000;
	font-family: Verdana,Sans-Serif;
	font-size: 20px;
	display:inline;
}

nav{
	text-align: center;
	font-weight: bold;
}

a {
    display: block;
}

.footer{
	color:#ffffff;
}


.mariomenu{
	background-image: url(images/MassiveMarioPicture.jpg);
	width:1340px;
	height:650px;
}

.gamelist,.cartform{
	border: 2px solid;
    border-radius: 40px;
    border-color: #707070;
    background-color: #262626;
}

.Genres{
	border: 2px solid;
    border-radius: 25px;
    border-color: #707070;
    background-color: #262626;
	font-size:22px;
}

img.storeitems:hover{
	opacity:0.7;
}

</style>